# _md5hash=75334ad34f34ef1ebea3c012e4d432ca
# _version=3702
# Dataplaneapi managed File
# changing file directly can cause a conflict if dataplaneapi is running

global
  daemon
  expose-deprecated-directives
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private
  master-worker
  stats socket ipv4@*:9999  level admin  expose-fd listeners
  stats timeout 30s
  ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets
  ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  log /dev/log local0
  log /dev/log local1 notice


defaults
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

frontend kube_apiserver
  mode tcp
  bind 0.0.0.0:6443 name kube_apiserver_bind
  option tcplog
  default_backend k3s_prod_api

frontend stats
  mode http
  bind *:8404
  stats enable
  stats uri /stats
  stats refresh 10s
  stats admin if LOCALHOST

frontend prometheus
  bind *:8405
  mode http
  http-request use-service prometheus-exporter if { path /metrics }
  no log

frontend web_public
  mode http
  bind 192.168.1.246:80 name web_http_bind
  bind 192.168.1.246:443 name web_https_bind ssl crt /etc/ssl/twop.ch.pem

  http-request redirect scheme https unless { ssl_fc }
  use_backend %[req.hdr(host),map(virt@web.map,swarm_prod_traefik-web)]

frontend web_private
  mode http

  bind 192.168.1.253:80 name web_http_bind
  bind 192.168.1.253:443 name web_https_bind ssl crt /etc/ssl/twop.ch.pem

  http-request redirect scheme https unless { ssl_fc }

  acl host_pvc01.twop.ch hdr_dom(host) pvc01.twop.ch
  acl host_pvc02.twop.ch hdr_dom(host) pvc02.twop.ch
  acl host_pbc01.twop.ch hdr_dom(host) pbc01.twop.ch

  use_backend pvc01 if host_pvc01.twop.ch
  use_backend pvc02 if host_pvc02.twop.ch
  use_backend pbc01 if host_pbc01.twop.ch

  use_backend %[req.hdr(host),map(virt@web-private.map,swarm_prod_traefik-web-private)]

backend k3s_prod_api
  mode tcp
  balance roundrobin
  option tcp-check
  server k3s-01.prod 192.168.1.51:6443 check
  server k3s-02.prod 192.168.1.52:6443 check
  server k3s-03.prod 192.168.1.53:6443 check

backend ddpnas1
  mode http
  balance roundrobin
  option tcp-check
  server k3s-01.prod 192.168.0.29:9091 check

backend k3s_prod_traefik-web
  server k3s-01.prod 192.168.1.51:80 check
  server k3s-02.prod 192.168.1.52:80 check
  server k3s-03.prod 192.168.1.53:80 check

backend k3s_prod_traefik-web-private
  server k3s-01.prod 192.168.1.51:81 check
  server k3s-02.prod 192.168.1.52:81 check
  server k3s-03.prod 192.168.1.53:81 check

backend swarm_prod_traefik-web
  server swarm-01.prod 192.168.0.111:80 check
  server swarm-02.prod 192.168.0.112:80 check
  server swarm-03.prod 192.168.0.113:80 check

backend swarm_prod_traefik-web-private
  server swarm-01.prod 192.168.0.111:81 check
  server swarm-02.prod 192.168.0.112:81 check
  server swarm-03.prod 192.168.0.113:81 check

backend external_traefik-web
  server swarm-01.prod 192.168.0.111:82 check
  server swarm-02.prod 192.168.0.112:82 check
  server swarm-03.prod 192.168.0.113:82 check

backend external_traefik-web-private
  server swarm-01.prod 192.168.0.111:83 check
  server swarm-02.prod 192.168.0.112:83 check
  server swarm-03.prod 192.168.0.113:83 check

backend pvc01
  mode http
  balance roundrobin
  option http-server-close
  option forwardfor
  timeout tunnel 1h
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  cookie SERVER indirect nocache insert
  server proxmox11 192.168.0.211:8006 ssl verify none check port 8006 inter 5s rise 2 fall 2 cookie proxmox_server
  server proxmox12 192.168.0.212:8006 ssl verify none check port 8006 inter 5s rise 2 fall 2 cookie proxmox_server
  server proxmox13 192.168.0.213:8006 ssl verify none check port 8006 inter 5s rise 2 fall 2 cookie proxmox_server

backend pvc02
  mode http
  balance roundrobin
  option http-server-close
  option forwardfor
  timeout tunnel 1h
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  cookie SERVER indirect nocache insert
  server proxmox21 51.154.10.38:8006 ssl verify none check port 8006 inter 5s rise 2 fall 2 cookie proxmox_server

backend pbc01
  mode http
  balance roundrobin
  option http-server-close
  option forwardfor
  timeout tunnel 1h
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  cookie SERVER indirect nocache insert
  server pbs01 192.168.0.214:8007 ssl verify none check port 8007 inter 5s rise 2 fall 2 cookie proxmox_backup_servers

